@font-face {
    font-family: 'GalmuriMono7';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/GalmuriMono7/GalmuriMono7.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/GalmuriMono7/GalmuriMono7.woff') format('woff');
         url('https://cdn.jsdelivr.net/gh/fonts-archive/GalmuriMono7/GalmuriMono7.ttf') format('truetype');
}
